/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.note {
  background-color: orange;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.note.new {
  background-color: rgb(123, 199, 199);
}
textarea {
  border: none;
  resize: none;
  background-color: rgb(123, 199, 199);
}
textarea:focus {
  outline: none;
}
.save {
  background-color: rgb(200, 217, 226);
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.save:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  /* grid-template-columns: repeat(4, 250px); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* sayfaya göre tekrarlasın 250px genişliğinde (daha az değil) veya 1fr genişliğinde olsun, bunun alnamı 250px'lik genişlikte ekrana göre yerleştirecek, sığmayanı alta geçirecek */
}
.delete-icon {
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}
.search input {
  border: none;
  background-color: rgb(233, 233, 233);
}

.search input:focus {
  outline: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 20px 0; */
}
.header h2 {
  text-transform: uppercase;
}
.dark-mode {
  background-color: black;
}
.dark-mode h2 {
  color: white;
}
